<div class="text-end">
    <a @click="resetFocusRecord(); toggleForm(true);" id="new" class="btn btn-outline-dark rounded-5"
    data-bs-toggle="popover"
    data-bs-placement="left"
    data-bs-trigger="hover"
    data-bs-content="Add record"><i class="fa fa-plus"></i></a>
    <a id="search" class="btn btn-outline-dark rounded-5"
        data-bs-toggle="popover"
        data-bs-placement="left"
        data-bs-trigger="hover"
        data-bs-content="Search"><i class="fa fa-search"></i></a>
    <a id="sort" class="btn btn-outline-dark rounded-5"
        data-bs-toggle="popover"
        data-bs-placement="left"
        data-bs-trigger="hover"
        data-bs-content="View options"><i class="fa fa-th-large"></i></a>
</div>